{
  margin: 0;
  padding: 0;
}
body {
 font-family:'Poppins', sans-serif;
}
.cabecalho{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.cabecalho-imagem{
  width: 20%;

}

.cabecalho-lista-item{
 display: inline-block;
 margin:0 16px;
 font-size: 16px;

}
.sobre_universo{
     background-image: -moz-linear-gradient(#3B0050,#3b00501f);
     color: aliceblue;
     display: flex;
     justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.sobre_universo-imagem{
  width: 25;
}
    